body {
  background-image:url(https://st4.depositphotos.com/3503231/30563/i/450/depositphotos_305638298-stock-photo-empty-space-wall-texture-background.jpg);  
  background-size: cover;
  background-position: center;
} 

.title{
  text-align: center;
  
}

.Texto{
  text-align: center;
  
}

.paragrafo{
  text-decoration-color: ;
  text-align: center;
  color:green;
  font-size: 28px;  
}

.video{
  text-align: center;
}

.som{
  text-align: center;
}

div{
  text-align: center;
}
